@import 'styles/includes.scss';

.button {
  display: inline-block;
  color: $white;
  font-size: 16px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  outline: none;

  transition-property: background-color, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &.primary {
    background-color: $primary;

    &:not(.disabled):hover {
      background-color: $primary-dark;
    }
  }

  &.secondary {
    background-color: $secondary;

    &:not(.disabled):hover {
      background-color: $secondary-dark;
    }
  }

  &.large {
    height: 60px;
    width: 60px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}
