@import 'styles/includes.scss';

.iconsDemo {
  display: inline-block;
  padding: 10px 20px;
  background-color: lighten($black, 75%);
  color: lighten($black, 35%);
  font-size: 24px;

  .fa {
    margin: 0 10px;
    vertical-align: middle;
  }
}
