.stopwatch {
  font-family: 'Source Code Pro', monospace; }
  .stopwatch .clock {
    margin-bottom: 15px; }
  .stopwatch .controls {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .stopwatch .controls .button {
      margin: 0 5px; }
