@import 'styles/includes.scss';

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;

  background-color: $secondary-light;
  color: $white;
}

#root {
  height: 100%;
}
